# HR Analytics - Statistical Analysis

Purpose
This notebook presents statistics and pobability focused analysis of HR analytics dataset.

The objective is to determine correct statistical reasoning, appropriate test selection,
explicit assumprtions checks, and correct interpretation of results.

This is an observational dataset no casual claimns are made.

## Dataset Context

The dataset contains employee-level HR information collected through routine
organizational processes.

Important implications:
- The data is observational, not experimental
- There is no random assignment or intervention
- Statistical results reflect associations only

As a result, techniques such as A/B testing and causal inference are not applicable.

## Variable Classification Summary

Before analysis, all variables were classified as:
- Binary categorical
- Nominal categorical
- Ordinal categorical
- Continuous numerical

Identifiers and constant-value variables were excluded from analysis.

 All statistical tests in this notebook are chosen based on these classifications.

## Statistical Questions
The following statistical questions guide the analysis.
Each question is framed to allow formal hypothesis testing based on variable type and distributional assumptions.

1. Is employee attrition independent of overtime status?
        
2. Is employee attrition independent of job role?

3. Does monthly income differ across job levels?

4. Is work-life balance associated with employee attrition?

5. Is total working experience correlated with monthly income?

In [4]:
import pandas as pd 

df = pd.read_csv("C:/Users/Sushant/Documents/Git_Folder/Stats_Prob_P1/Data/raw/HR_Analytics.csv")    

df.shape

(1480, 38)

In [5]:
df.head()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmpID                     1480 non-null   object
 1   Age                       1480 non-null   int64
 2   AgeGroup                  1480 non-null   object
 3   Attrition                 1480 non-null   object
 4   BusinessTravel            1480 non-null   object
 5   DailyRate                 1480 non-null   int64
 6   Department                1480 non-null   object
 7   DistanceFromHome          1480 non-null   int64
 8   Education                 1480 non-null   int64
 9   EducationField            1480 non-null   object
 10  EmployeeCount             1480 non-null   int64
 11  EmployeeNumber            1480 non-null   int64
 12  EnvironmentSatisfaction   1480 non-null   int64
 13  Gender                    1480 non-null   object
 14  HourlyRate                1480 non-null   int64
 15  JobInvolvement            1480 non-null   int64
 16  JobLevel                  1480 non-null   int64
 17  JobRole                   1480 non-null   object
 18  JobSatisfaction           1480 non-null   int64
 19  MaritalStatus             1480 non-null   object
 20  MonthlyIncome             1480 non-null   int64
 21  SalarySlab                1480 non-null   object
 22  MonthlyRate               1480 non-null   int64
 23  NumCompaniesWorked        1480 non-null   int64
 24  Over18                    1480 non-null   object
 25  OverTime                  1480 non-null   object
 26  PercentSalaryHike         1480 non-null   int64
 27  PerformanceRating         1480 non-null   int64
 28  RelationshipSatisfaction  1480 non-null   int64
 29  StandardHours             1480 non-null   int64
 30  StockOptionLevel          1480 non-null   int64
 31  TotalWorkingYears         1480 non-null   int64
 32  TrainingTimesLastYear     1480 non-null   int64
 33  WorkLifeBalance           1480 non-null   int64
 34  YearsAtCompany            1480 non-null   int64
 35  YearsInCurrentRole        1480 non-null   int64
 36  YearsSinceLastPromotion   1480 non-null   int64
 37  YearsWithCurrManager      1423 non-null   float64
dtypes: float64(1), int64(25), object(12)
memory usage: 439.5+ KB

## Initial Data Sanity Checks

The dataset was successfully loaded from the raw data directory.

The following basic checks were performed:
- Verified the number of observations and variables
- Inspected column names and data types
- Checked for obvious missing values and constant fields

At this stage, no transformations, filtering, or statistical analysis
have been performed. This step is limited to validating that the dataset
is suitable for subsequent statistical analysis.